{% extends 'layout.html' %}
{% block content %}

<div class="container mt-4">
    <label for="driveSelect" class="form-label"><b>Select Drive:</b></label>
    <select id="driveSelect" class="form-select" onchange="navigateToDrive()">
        <option disabled selected>Choose a drive</option>
        <!-- Tùy chọn sẽ được chèn động qua server -->
    </select>
</div>


<script>
    // Lấy danh sách ổ đĩa từ server và chèn vào drop-down list
    fetch('/get_drives')
        .then(response => response.json())
        .then(drives => {
            const driveSelect = document.getElementById('driveSelect');
            drives.forEach(drive => {
                const option = document.createElement('option');
                option.value = drive;
                option.textContent = drive;
                driveSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Error fetching drives:', error));

    // Chuyển hướng đến URL tương ứng khi chọn ổ đĩa
    function navigateToDrive() {
        const driveSelect = document.getElementById('driveSelect');
        const selectedDrive = driveSelect.value;

        if (selectedDrive) {
            // Thay đổi text của dropdown thành ổ đĩa đã chọn
            driveSelect.options[driveSelect.selectedIndex].text = selectedDrive;

            // Chuyển hướng
            window.location.href = `/files/${selectedDrive}`;
        }
    }

</script>




<div id ="view0_container" class = "container"  {{ default_view_css_1 }} >
    <div class = "row"><h5></h5></div>


<div class = "row">

{% for dir_i in dir_dict %}

<div class="col-md-2 col-sm-4 col-6 mt-2">

    <!-- <a data-toggle="tooltip" data-placement="left" title="Send to Phone" id = "qrphone" href = "/qr/{{dir_i.currentDir}}/{{dir_i.f_url}}"><img src = "/static/phone-download.png" style = "width:15px;height:15px;"></a> -->

    <div class="thumbnail hvr-shadow">
        

        <a href="/files/{{dir_i.currentDir}}/{{dir_i.f_url}}"><img src = '/static/{{dir_i.image}}' class='img-thumbnail' style="border:0px;"/><p style="color:black; text-align:center; text-decoration:none;">
                <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{dir_i.f_complete}}">
{{ dir_i.f }}
</p>
        </p></a>                

        
    </div>
    </div>

{% endfor %}

</div>



<div class = "row mt-4"><h5></h5></div> <hr>

<div class = "row">

    {% for dir_i in file_dict %}
    
    <div class="col-md-2 col-sm-4 col-6 mt-2">
    
        <a data-toggle="tooltip" data-placement="left" title="Send to Phone" id = "qrphone" href = "/qr/{{dir_i.currentDir}}/{{dir_i.f_url}}"><img src = "/static/phone-download.png" style = "width:15px;height:15px;"></a>
    
        <div class="thumbnail hvr-shadow">
            
    
            <a href="/download/{{dir_i.currentDir}}/{{dir_i.f_url}}"><img src = '/static/{{dir_i.image}}' class='img-thumbnail' style="border:0px;"/><p style="color:black; text-align:center; text-decoration:none;">
                    <p style="color:black;" data-toggle="tooltip" data-placement="right" title="{{dir_i.f_complete}}">
    {{ dir_i.f }}
    </p>
            </p></a>                
    
            
        </div>
        </div>
    
    {% endfor %}
    
    </div>



</div> 




<div id ="view1_container" class = "container" {{ default_view_css_2 }} >
    <div class = "row mt-4">
        
        <div class="col-3 mb-2" style=" text-align:center;" ><b>Name</b><hr></div>
        <div class="col-3" style=" text-align:center;" ><b>Created Time</b><hr></div>
        <div class="col-3" style=" text-align:center;"><b>Modified Time</b><hr></div>
        <div class="col-3" style=" text-align:center;"><b>Size</b><hr></div>
        

</div>

<div class = "row">


    {% for dir_i in dir_dict %}

    <div class="col-3" style="margin-bottom:-10px">

        <a href="/files/{{dir_i.currentDir}}/{{dir_i.f_url}}">
            
        
        <img src = '/static/{{dir_i.image}}'  style="position:absolute; height:25px; width:25px; border:0px;"/>

        <p style="margin-left:35px; color:black; text-align:left; text-decoration:none;">
{{dir_i.f}}</p>
        </a>
        
    </div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtc}}</p></div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtm}}</p></div>
    <div class="col-3" style="margin-bottom:-10px; "><p style="margin-left:110px;">{{dir_i.size}}</p></div>

    {% endfor %}
</div>

<div class = "row mt-4"><h5></h5></div> <hr><div class = "row mt-4"></div>

<div class = "row">


    {% for dir_i in file_dict %}

    <div class="col-3" style="margin-bottom:-10px">

        <a href="/download/{{dir_i.currentDir}}/{{dir_i.f_url}}">
        
        <img src = '/static/{{dir_i.image}}'  style="position:absolute; height:25px; width:25px; border:0px;"/>

        <p style="margin-left:35px; color:black; text-align:left; text-decoration:none;">
{{dir_i.f}}</p>
        </a>
        
    </div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtc}}</p></div>
    <div class="col-3" style="margin-bottom:-10px"><p style="margin-left:45px;">{{dir_i.dtm}}</p></div>
    <div class="col-3" style="margin-bottom:-10px; "><p style="margin-left:110px;">{{dir_i.size}}</p></div>

    {% endfor %}
</div>

</div>
{% endblock content %}